$blue-color: #0066CC;
$danger: #dc3545;
$check: #28a745;

$grey100: #f8f9fa !default;
$grey140: #E2E6EA !default;
$grey160: #f8f9fa !default;
$grey200: #e5eaec !default;
$grey300: #dee2e6 !default;
$grey400: #ced4da !default;
$grey500: #adb5bd !default;
$grey600: #868e96 !default;
$grey700: #495057 !default;
$grey800: #343a40 !default;
$grey900: #212529 !default;

$black210: #212529;