<div class="layout">
    <div class="layout-wrapper">
        <div class="layout-wrapper-menu">       
            <div class="brand">
                <a href="#">
                    <img src="/assets/img/logo.png">
                </a>
            </div> 
            <div class="menu">
                <div class="menu-group">
                    <h5>
                        Menu
                    </h5>
                    <ul>
                        <li>
                            <a routerLink="/home">
                                <i class="icon fas fa-tachometer-alt"></i>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a routerLink="/about">
                                <i class="icon fas fa-info-circle"></i>
                                About
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layout-wrapper-content">
            <div class="layout-wrapper-content-header">
                <eva-header title="Dashboard"></eva-header>
            </div>
            <div class="layout-wrapper-content-outlet">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>