<div class="about">
    <div class="about-card">        
        <ul class="about-card-list list-group">
            <li class="list-group-item">
                <div class="card-photo">
                    <img src="assets/img/logo.png">
                </div>
                <h5 class="center-text">
                    2019
                </h5>
            </li>
            <li class="list-group-item"><strong>Made By:</strong> Pablo Bassil</li>
            <li class="list-group-item">
                <div class="card-links">
                    <strong>Links: </strong>                
                    <a href="https://www.linkedin.com/in/pablobassil"><i class="fab fa-linkedin"></i></a>              
                    <a href="https://github.com/pabcubus"><i class="fab fa-github-square"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>